form {
  width: 90%;
  max-width: 450px;
  background-color: #fff;
  padding: 32px 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 16px;
  color: black;
}
label:hover {
  cursor: pointer;
}

textarea {
  background-color: #f9fbfc;
  /*border: 2px, solid #202329;
  */
  border-radius: 2px;
  box-shadow: 0px 5px 50px 0 rgba (32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 20px;
  /*text-align: center;
  */
  padding: 12px;
  height: 96px;
  width: 100%;
  /*width: calc(100%-25px);
  */
  outline: none;
  resize: vertical;
  /*margin-bottom: 16px;
  */
  min-height: 150px;
  border: teal 1px;
}

textarea::-webkit-input-placeholder {
  color: #a5a5a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

textarea::-moz-placeholder {
  color: #a5a5a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

textarea:-ms-input-placeholder {
  color: #a5a5a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

textarea::-ms-input-placeholder {
  color: #a5a5a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
textarea:focus {
  border: 2px solid #61dafa;
}
textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}
textarea::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
textarea::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
.todoform-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.button-form {
  width: 48%;
  outline: none;
  height: 40px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
}
.button-form:hover {
  cursor: pointer;
}

.button-form--cancel {
  background-color: red;
  opacity: 0.8;
}
.button-form--submit {
  background-color: teal;
}

.text-area--undefined {
  border: 2px solid red;
}

.text-alert {
  color: red;
}
